/* font */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400&display=swap');

/* general */
* {
    margin: 0;
    font-family: 'Prompt', sans-serif;
}

.container {
    margin: 0 auto;
    width: 85%;
}

/* navBar */
#navBar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding: 8px 0;
    background-color: #1a2456;
    transition: 0.5s;
}

.scroll-down {
    top: 5px !important;
    box-shadow: 0 5px 10px -1px #1a2456;
}

#navBar>div {
    margin: 0 10px;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

#navBar #navBarLeft svg {
    fill: #efc2b3;
}

#navBar #navBarRight * {
    vertical-align: middle;
}

#navBar #navBarRight ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#navBar #navBarRight>ul>li {
    position: relative;
}

#navBar #navBarRight>ul>li>*,
#navBar svg {
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
    color: #efc2b3;
    fill: #efc2b3;
    margin: 0 15px;
    word-spacing: 3px;

}


#navBar #navBarRight>ul>li>a:hover {
    color: #ff8b68;
}

#navBar #navBarRight #dropDown {
    position: relative;
}

#navBar #navBarRight>ul #dropDown>p:hover {

    color: #f0efed;
}

#navBar #navBarRight>ul p {
    display: inline;
}

#navBar #navBarRight>ul #dropDown::after {
    position: absolute;
    content: '';
    left: 90%;
    top: 35%;
    width: 4px;
    height: 4px;
    border-bottom: 2px solid #efc2b3;
    border-right: 2px solid #efc2b3;
    transform: rotate(45deg);
}


#navBar #navBarRight>ul>li>ul {
    position: absolute;
    top: 130%;
    left: 0;
    background-color: #f0efed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 220px;
    margin: 0;
    padding: 0;
    border: 1px solid gray;
    display: none;
}


#navBar #navBarRight>ul>li>ul>li {
    padding: 8px 0 5px 10px;
}

#navBar #navBarRight>ul>li>ul>li>a {
    text-decoration: none;
    color: #080b1b;
}

#navBar #navBarRight>ul>#dropDown:hover::after {
    border-color: #f0efed;
}

#title #navBar #navBarLeft svg:hover {
    fill: #ff8b68;
}

/* hamburger menu stuff */
#hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1a2456;
    width: 30%;
    height: fit-content;
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateX(120%);
    transition: 0.3s all linear;

}


#hamburger-menu li {
    margin: 15px 0;
}

.hamburger-menu-apear {
    transform: translateX(0) !important
}

#hamburger-menu-icon {
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 30px;
    display: none !important;

}

#hamburger-menu-icon .row {
    width: 90%;
    height: 20%;
    background-color: #efc2b3;
    border-radius: 10px;
    transition: 0.3s;
}

#hamburger-menu-icon:hover .row {
    background-color: #ff8b68;
}

.hamburger-icon-change-top {
    transform: rotate(-45deg) translateY(10px);
}

.hamburger-icon-change-bottom {
    transform: rotate(45deg)translateY(-10px);
}

/* hamburger menu stuff  END*/

/* navBar END */
/* title */
#title {
    min-width: fit-content;
    position: relative;
    background: url(image/shop-cta-xl.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title #text-box {
    margin: 0 0 0 50%;
}

#title #text-box h1 {
    color: #1a2456;
    font-size: 40px;
    font-weight: bold;
}

#title #text-box p {
    color: #1a2456;
    font-size: 16px;

}

/* media queries for navBar & title */
@media screen and (max-width:840px) {
    #navBar * {
        font-size: 10px !important;
    }

    #navBar #navBarRight>ul #dropDown::after {
        top: 22%;
        font-size: 10px !important;
    }

    #text-box {
        margin: 0 0 0 40% !important;
    }

    #text-box>* {
        font-size: 20px !important;

    }

}

@media screen and (max-width:780px) {
    #navBar>div {
        margin: 0 50px;

    }

    #navBar #navBarRight>ul:last-of-type {
        display: none !important;
    }

    #hamburger-menu-icon {
        display: flex !important;
    }

}

@media screen and (max-width:440px) {
    #navBar {
        justify-content: center !important;
    }

    #navBar>div {
        margin: 0 !important;
    }

    #hamburger-menu * {
        font-size: 8px !important;
    }



}

/* media queries for navBar END */

/* title END */
/* stock / stock 2  */
.stock {
    margin-top: 50px;
    width: 90%;
    margin: 100px auto;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.part-2 {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.stock .stockItem {
    cursor: pointer;
    width: 48%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.part-2 .stockItem {
    width: 250px;
    height: fit-content;
    margin-bottom: 15px;
}

.stock .stockItem #stockImage {
    position: relative;
}

.stock .stockItem #stockImage img {
    width: 100%;

}

.part-2 .stockItem #stockImage img {
    width: 100%;
    height: 250px;

}


.stock .in-stock #stockImage #waterMark {
    position: absolute;
    right: 0;
    top: 20px;
    background-color: #1a2456;
    color: white;
    padding: 5px 20px;
}


.stock .stockItem #stockTitle {
    position: relative;
    display: flex;
    justify-content: space-between;
    color: #1a2456;
    margin: 5px 0;
}

.stock .stockItem #stockTitle #shopNow {
    background-color: #1a2456;
    color: white;
    padding: 3px 10px;
    border-radius: 20px;
    position: absolute;
    right: -2px;
    opacity: 0;
    font-size: 12px;

}

.part-2 .stockItem #stockTitle h1 {
    font-size: 18px;
}


.stock .stockItem #stockDescription {

    color: #1a2456;
}

.stock .stockItem:hover #stockTitle p {
    opacity: 0;
    transition: all 0.2s linear;
}


.stock .stockItem:hover #stockTitle #shopNow {
    opacity: 1;
    transition: all 0.2s linear;
}

.stock .stockItem #stockTitle:hover {
    color: black;
}

/* media queries for stock divs */
@media screen and (max-width:800px) {
    .stockItem #stockTitle {
        font-size: 13px;
    }

    .stockItem #stockDescription {
        font-size: 10px;
    }

    .stockItem #shopNow {
        font-size: 8px !important;
    }
}

@media screen and (max-width:560px) {
    .stock {
        justify-content: center;
    }

    .stockItem {
        width: 90% !important;
    }

    .stockItem #stockTitle {
        font-size: 10px;
    }

    .stockItem #shopNow {
        font-size: 8px !important;

    }

}

@media screen and (max-width:400px) {
    .part2 {
        background-color: red !important;
    }

    .part-2 .stockItem #stockTitle h1 {
        font-size: 15px !important;

    }

}

/* stock END */

/* create console */
#createConsole {
    margin-top: 20px;
    background-color: #c4c4c4;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
}

#createConsole .container {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    color: #1a2456;
    height: 100%;
    width: 90%;
}

#createConsole .container h1 {
    margin-top: 30px;
    font-size: 40px;
    word-spacing: 2px;


}

#createConsole .container p {
    color: #2c3770;
    font-size: 18px;


}

/* media queries for createConsole */
@media screen and (max-width:450px) {
    #createConsole .container * {
        font-size: 15px !important;
    }

}

/* media queries for createConsole END */
/* create console END */
/* footer */
#footer {
    background-color: #1a2456;
    height: fit-content;
    padding: 10px 0 50px 0;
    min-width: fit-content;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    gap: 30px;
}



#footer>div {
    min-width: 100px;
    margin: 20px 0 0 25px;
}


#footer h1 {
    font-size: 11px;
    font-weight: 600;
    color: #efc2b3;
    margin-bottom: 15px;
}

#footer h6 {
    color: #efc2b3;
    font-size: 13px;
    font-weight: 100;

}

#footer p {
    font-size: 15px;
    font-weight: 200;
    color: #efc2b3;
    margin-bottom: 2px;
}

#footer ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

#footer ul li a {
    font-size: 14px;
    text-decoration: none;
    color: #efc2b3;
}

#footer ul li a:hover {
    color: #ff8b68;
    text-decoration: underline;
}

#footer #subscribe {
    display: flex;
    flex-direction: column;
}

#footer #subscribe input {
    background-color: transparent;
    border: 1px solid #efc2b3;
    padding: 5px;
    margin-top: 8px;
    outline: none;
    color: #efc2b3;
}

#footer #subscribe input::placeholder {
    color: #efc2b3;
}

#footer #subscribe button {
    background-color: #efc2b3;
    color: #1a2456;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
}

#footer #subscribe #icons {
    margin-top: 10px;
}

#footer #subscribe #icons i {
    border-radius: 50%;
    background-color: #efc2b3;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: #1a2456;
    float: left;
    margin-right: 10px;
}

#footer #subscribe #copyRight {
    margin-top: 20px;
}

/* footer media queries */
@media screen and (max-width: 1095px) {
    #footer>div * {
        font-size: 0.8rem !important;

    }

}

@media screen and (max-width: 875px) {
    #footer>div * {
        font-size: 0.6rem !important;

    }

    #footer>div {

        margin: 20px 0 0 5px;
    }

    #footer #quickLinks {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    #footer {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 375px) {
    #footer {
        justify-content: flex-start;
    }

    #footer>div {
        margin: 20px 0 0 5px !important;
        width: 10px !important;
    }

    #footer>div * {
        font-size: 0.5rem !important;
    }

}

/* footer media queries END */
/* footer END */